body{
    font-family: 'Roboto', sans-serif;
}
#title{
    background-color: #ff4c68;
    color: white;
}
#features{
    background-color: white;
    position: relative;
}
h1{
    font-size: 3.5rem;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
h3{
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
}
p{
    color: gray;
    padding:0 5%;
}
.container-fluid{
    padding: 3% 15% 7%;
}
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.75rem;
}
.nav-item{
    font-size: 1.25rem;
    padding : 0 18px;
}
.download-button{
    margin: 5% 3% 5% 0;
}
.title-image{
    width: 60%;
    transform: rotate(25deg);
    right: 30%;
    position: absolute;
}
#features{
    padding: 7% 15%;
}
.feature-box{
    text-align: center;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
h2{
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    font-size:3rem;
}
#testimonials{
    
    background-color: #ef8172;
    color: white;
    
    text-align: center;
}
.testimonial-img{
    margin: 30px;
    width: 10%;
    border-radius: 100%;
}
#press{
    background-color: #ef8172;
    padding-bottom: 20px;
    text-align: center;
}
.company{
    padding:50px 30px ;
    width: 15%;
}
.carousel-item{
    padding: 7% 15%;
}
.pricing-column{
    padding: 3% 2%;
}
#pricing{
    text-align: center;
    padding: 100px;
}
@media (max-width: 1028px){
    .title-image{
        transform: rotate(0deg);
        position: static;
        /* text-align: center; */
    }
    #title{
        text-align: center;
    }
}
#cta{
    text-align: center;
    padding: 7% 15%;
    background-color: #ff4c68;
    color: white;
}
.cta-heading{
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    line-height: 1.5;

    margin-bottom: 30px;
}
#footer{
    padding: 7% 15%;
    text-align: center;
}
.fab{
    padding: 10px;
}
.fas{
    padding: 10px;
}